@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Claims.First().Value</h1>
    </Authorized>
</AuthorizeView>

<form action="cookie" method="post">
    <input type="text" name="name" />
    <input type="submit" />
</form>

@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var state = await authenticationStateTask;
        if (state.User.Identity.IsAuthenticated)
        {
            var name = state.User.Identity.Name;
        }
    }
}